.Profile {
    border: 1px solid;
    width: 30%;
    position: absolute;
    left: 30%;
    top: 10%;
    height:auto;
}

#profileImage {
    width: 60%;
    height: auto;
    margin: 20px 0px 20px 0px;
}
#gobacklink{
    font-size: 25px;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 15px;
    top: 15px;
}
