h1{
    text-align: left;
    padding-left: 5%;
}

.dbbtns{
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 30px;
    margin: 50px 80px 80px 80px;
    border-radius: 20px;
    border: none;
    width: 30%;
    transition-duration: 0.1s;
    cursor: pointer;
    transition-duration: 0.4s;
}

.dbbtns:hover{
    background-color: white;
    color: black;
}

.dbbtns:active{
    background-color: gray;
}