#gobacklink{
    font-size: 25px;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 15px;
    top: 15px;   
}

.sett{
    background-color: #c4c4c4;
    color: black;
    font-size: 25px;
    padding: 30px;
    margin: 150px 100px 2px 80px;
    border-radius: 20px;
    border: none;
    width: 80%;
    transition-duration: 0.4s;
}


.sett2{
    background-color: #c4c4c4;
    color: black;
    font-size: 25px;
    padding: 30px;
    margin: 150px 100px 2px 80px;
    border-radius: 20px;
    border: none;
    width: 80%;
}

.sett:hover{
    background-color: black;
    color: white;
  }

.settb{
    margin-top: 15px;
}
