
<img src="/main-images/logocropped.png" width="80%" style="margin: 20px 0px 20px 0px;">
<div class="spbtnpanel">
    <button type="button" class="spbtn" onclick="window.location.href='/dashboard'"><i class='bx bxs-home'></i></i>&nbsp;&nbsp;Dashboard</button><br>
    <button type="button" class="spbtn" onclick="window.location.href='/AnalyzeScreenHTML'"><i class='bx bx-glasses'></i>&nbsp;&nbsp;Analyze</button><br>
    <button type="button" class="spbtn" onclick="window.location.href='/SettingsScreenHTML'"><i class='bx bx-cog' ></i>&nbsp;&nbsp;Settings</button><br>
    <button type="button" class="spbtn" onclick="window.location.href= '/users/logout'" ><i class='bx bx-log-out' ></i></i>&nbsp;&nbsp;Logout</button>
</div>
<span class="AboutText"><p>Intellignosis® version 1.0.0<br>
      Trademark of Intellignosis<br> CAD, Sri Lanka</p></span>