<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8" />
	<title>Intellignosis</title>
	<link rel="icon" href="../main-images/ciruclarcroppedlogo_1WL_icon.ico">
	<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
	<style type="text/css">
		html,
		body {
			max-width: 100%;
		}

		body {
			margin: 0;
		}


		.title {
			font-size: 30px;
			text-align: center;
			padding-bottom: 10px;
		}

		.examsTitle {
			font-size: 22px;
			text-align: center;
			padding: 15px 0;
		}

		.personalInfoLayout {
			display: grid;
			width: 50%;
			grid-template-columns: 65% 35%;
			grid-template-rows: auto;
			margin-left: 10%;
		}

		th,
		td {
			text-align: left;
			padding: 0 25px;
		}

		table {
			margin: auto;
		}

		table.infoTable {
			margin: 0;
		}

		table.infoTable .col1 {
			width: 80px;
			background-color: rgba(48, 48, 48, 0.22);
		}

		table.tasks .col1 {
			background-color: rgba(0, 0, 0, 0.12);
			width: 100px;
		}

		.Img {
			width: 500px;
			height: 300px;
			margin: auto;
		}

		.container {
			color: black;
		}


		.centered {
			position: absolute;
			top: 30%;
			left: 62.5%;
			font-size: 15px;
			transform: translate(-50%, -50%);
		}
	</style>
</head>

<body>
	<div class="sidePanel">
		<!-- Don't make any changes to this panel  -->
		<img src="/main-images/logocropped.png" width="80%" style="margin: 20px 0px 20px 0px;">
		<div class="spbtnpanel">
			<button type="button" class="spbtn" onclick="window.location.href='/dashboard'"><i class='bx bxs-home'></i></i>&nbsp;&nbsp;Dashboard</button><br>
			<button type="button" class="spbtn" onclick="window.location.href='/AnalyzeScreenHTML'"><i class='bx bx-glasses'></i>&nbsp;&nbsp;Analyze</button><br>
			<button type="button" class="spbtn" onclick="window.location.href='/SettingsScreenHTML'"><i class='bx bx-cog' ></i>&nbsp;&nbsp;Settings</button><br>
			<button type="button" class="spbtn" onclick="window.location.href= '/users/logout'" ><i class='bx bx-log-out' ></i></i>&nbsp;&nbsp;Logout</button>
		  </div>
		<span class="AboutText">
			<p>Intellignosis® version 1.0.0<br>
				Trademark of Intellignosis<br> CAD, Sri Lanka</p>
		</span>
	</div>
	<div class="mainPanel">
		<a href="javascript:history.back()" id="gobacklink"<i class='bx bx-log-out-circle' ></i></i>&nbsp;&nbsp;Go back</a>

		<h1 class="title"><strong>ABOUT US</strong></h1>

		<br>
		<div class="personalInfoLayout">
			<!--personal info table-->
			<table class="infoTable">
				<tr>
					<td class="col1">
						<p class="regular">Harees Srinivasan</p>
					</td>
				</tr>
				<tr>
					<td class="col1">
						<p class="regular">Thulana Thidaswin</p>
					</td>
				</tr>

				<tr>
					<td class="col1">
						<p class="regular">Saad Moheedin</p>
					</td>
				</tr>
				<tr>
					<td class="col1">
						<p class="regular">Arif Zahir</p>
					</td>
				</tr>
				<tr>
					<td class="col1">
						<p class="regular">Sandali Siriwardana</p>
					</td>
				</tr>
			</table>
			<div class="container">
				<img src="../main-images/abt.png" class="Img">
				<div class="centered"> We are group of five and we created this application to help people out there who
					are struggling with this depression.</div>
			</div>
		</div>
		<script>
			window.addEventListener('mouseover', initLandbot, { once: true });
			window.addEventListener('touchstart', initLandbot, { once: true });
			var myLandbot;
			function initLandbot() {
				if (!myLandbot) {
					var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
					s.addEventListener('load', function () {
						var myLandbot = new Landbot.Livechat({
							configUrl: 'https://chats.landbot.io/v3/H-1200643-M0AAYKE58KG20BN6/index.json',
						});
					});
					s.src = 'https://cdn.landbot.io/landbot-3/landbot-3.0.0.js';
					var x = document.getElementsByTagName('script')[0];
					x.parentNode.insertBefore(s, x);
				}
			}
		</script>
	</div>
</body>

</html>