<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="10;URL='/ResultsScreenHTML'">
    <title>Intellignosis</title>
    <link rel="icon" href="../main-images/ciruclarcroppedlogo_1WL_icon.ico">
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href ="/css/shared/AnalysisLoadingCSS" />
    <script src="https://kit.fontawesome.com/9dd2a3851f.js" crossorigin="anonymous"></script>
    <style type="text/css">
      *, *::before, *::after {
    box-sizing: border-box;

}

.progressBar {
    position: relative;
    width: 600px;
    height: 3em;
    background-color: #111;
    border-radius: 1.5em;
    color: white;

}

.progressBar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: grey;
    border-radius: 1em;
    padding: 1em;

}

.loadingText {
    text-align: left;
    margin-top: 50px;
    
}

#check1, #check2, #check3 {
    visibility: hidden;
}

    </style>
  </head>

  <body>

    <div>
        <img src="/main-images/logocropped.png" width="50%" style="margin: 70px 0px 20px 0px;">
    </div>

    <div class="loadingText">
        <p>Analyzing EEG report...&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;      <i id = "check1" class="fa fa-check" aria-hidden="true"></i></p>
        <p>Obtaining results...&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;         <i id = "check2" class="fa fa-check" aria-hidden="true"></i></p>
        <p>Preparing automated report...&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<i id = "check3" class="fa fa-check" aria-hidden="true"></i></p>
    </div>

    <div class="progressBar" style ="--width: 10" data-label="Loading...">
        
    </div>

  </body>

  <script src="/js-files/AnalysisLoadingJS.js"></script>


</html>