<!-- TODO: When the screen becomes small change the left menu into a hamburger menu -->
<!-- TODO: Glass texture to UI -->
<!-- TODO: Visited style for side panel buttons -->
<!-- TODO: Also discuss about the code repetition issue -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Intellignosis</title>
  <link rel="icon" href="../main-images/ciruclarcroppedlogo_1WL_icon.ico">
  <link rel="stylesheet" href="../index.css" />
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

  <style type="text/css">
    #gobacklink {
      font-size: 25px;
      text-decoration: none;
      color: black;
      position: absolute;
      left: 15px;
      top: 15px;
    }

    .dropdown {
      text-align: left;
      margin: 100px 20px 20px 100px;
      font-size: 30px;
    }

    .addpatient {
      background-color: black;
      color: white;
      font-size: 15px;
      text-decoration: none;
      border: 2px solid;
      border-radius: 20px;
      width: 10%;
      padding: 10px 15px 10px 15px;
      margin: 0px 7px 15px 150px;
      cursor: pointer;
    }

    .addpatient:hover {
      background-color: #A9A9A9;
    }

    .addpdiv {
      text-align: left;
      margin: 20px 20px 20px 20px;
      font-size: 20px;
    }

    .topnav {
      text-align: center;
      margin: 20px 20px 20px 20px;
      font-size: 50px;
    }

    .analyzediv {
      background-color: black;
      font-size: 20px;
      text-decoration: none;
      border: 2px solid;
      border-radius: 20px;
      width: 20%;
      color: white;
      padding: 10px 50px 10px 50px;
      margin: 15px 7px 15px 0px;
      cursor: pointer;
    }

    .analyzediv:hover {
      background-color: #A9A9A9;
    }
  </style>
</head>

<body>
  <div class="sidePanel">
    <!-- Don't make any changes to this panel  -->
    <img src="/main-images/logocropped.png" width="80%" style="margin: 20px 0px 20px 0px;">
    <div class="spbtnpanel">
      <button type="button" class="spbtn" onclick="window.location.href='/dashboard'"><i class='bx bxs-home'></i></i>&nbsp;&nbsp;Dashboard</button><br>
      <button type="button" class="spbtn" onclick="window.location.href='/AnalyzeScreenHTML'"><i class='bx bx-glasses'></i>&nbsp;&nbsp;Analyze</button><br>
      <button type="button" class="spbtn" onclick="window.location.href='/SettingsScreenHTML'"><i class='bx bx-cog' ></i>&nbsp;&nbsp;Settings</button><br>
      <button type="button" class="spbtn" onclick="window.location.href= '/users/logout'" ><i class='bx bx-log-out' ></i></i>&nbsp;&nbsp;Logout</button>
    </div>
    <span class="AboutText">
      <p>Intellignosis® version 1.0.0<br>
        Trademark of Intellignosis<br> CAD, Sri Lanka</p>
    </span>
  </div>
  <div class="mainPanel">

    <a href="javascript:history.back()" id="gobacklink"><i class='bx bx-log-out-circle' ></i>&nbsp;&nbsp;Go back</a>

   
    
    <div class="topnav">
      <br>
      <br>
      <input type="text" placeholder="Browse .">
      <input type="file" id="myfile" name="myfile">
    </div>

  

    <div class="analyze">
      <button type="button" class="analyzediv" onclick="window.location.href='/AnalysisLoadingHTML'">Analyze</button>
    </div>
    <script>
			window.addEventListener('mouseover', initLandbot, { once: true });
			window.addEventListener('touchstart', initLandbot, { once: true });
			var myLandbot;
			function initLandbot() {
				if (!myLandbot) {
					var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
					s.addEventListener('load', function () {
						var myLandbot = new Landbot.Livechat({
							configUrl: 'https://chats.landbot.io/v3/H-1200643-M0AAYKE58KG20BN6/index.json',
						});
					});
					s.src = 'https://cdn.landbot.io/landbot-3/landbot-3.0.0.js';
					var x = document.getElementsByTagName('script')[0];
					x.parentNode.insertBefore(s, x);
				}
			}
		</script>

  </div>
</body>

</html>