<!-- TODO: When the screen becomes small change the left menu into a hamburger menu -->
<!-- TODO: Glass texture to UI -->
<!-- TODO: Visited style for side panel buttons -->
<!-- TODO: Also discuss about the code repetition issue -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Intellignosis</title>
  <link rel="icon" href="../main-images/ciruclarcroppedlogo_1WL_icon.ico">
  <link rel="stylesheet" href="../index.css" />
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

  <style type="text/css">
    body {
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			margin: auto;
			max-width: 38rem;
			background-color: #fffafa;
			text-align: center;
			max-width: 100%;
		}

    #gobacklink {
      font-size: 25px;
      text-decoration: none;
      color: black;
      position: absolute;
      left: 15px;
      top: 15px;
    }

    .topnav {
      text-align: center;
      margin: 30px 30px 30px 30px;
      font-size: 50px;
      text-decoration: none;
      color: black;
      padding: 10px 50px 10px 50px;
    }

    .analyzediv {
    background-color: black;
    font-size: 20px;
    text-decoration: none;
    border:2px solid;
    border-radius: 20px;
    width: 25%;
    color: white;
    padding: 15px 40px 10px 40px;
    margin-left: 360px;
    cursor: pointer;
    }

    .analyzediv:hover {
      background-color: #A9A9A9;
    }

    .upload-edf{
        margin-top: 200px;
    }
    
  </style>
</head>

<body>
  <div class="sidePanel">
    <!-- Don't make any changes to this panel  -->
    <img src="/main-images/logocropped.png" width="80%" style="margin: 20px 0px 20px 0px;">
    <div class="spbtnpanel">
      <button type="button" class="spbtn" onclick="window.location.href='/dashboard'"><i class='bx bxs-home'></i></i>&nbsp;&nbsp;Dashboard</button><br>
      <button type="button" class="spbtn" onclick="window.location.href='/AnalyzeScreenHTML'"><i class='bx bx-glasses'></i>&nbsp;&nbsp;Analyze</button><br>
      <button type="button" class="spbtn" onclick="window.location.href='/SettingsScreenHTML'"><i class='bx bx-cog' ></i>&nbsp;&nbsp;Settings</button><br>
      <button type="button" class="spbtn" onclick="window.location.href= '/users/logout'" ><i class='bx bx-log-out' ></i></i>&nbsp;&nbsp;Logout</button>
    </div>
    <span class="AboutText">
      <p>Intellignosis® version 1.0.0<br>
        Trademark of Intellignosis<br> CAD, Sri Lanka</p>
    </span>
  </div>
  <div class="mainPanel">

    <a href="javascript:history.back()" id="gobacklink"><i class='bx bx-log-out-circle' ></i>&nbsp;&nbsp;Go back</a>

   
    
    <div class="upload-edf">
      <form method="POST" action="/" enctype="multipart/form-data" >
      <input type="text" placeholder="Browse ."/>
      <input type="file" name="file" required/>
      <br> <br>
      <div class="analyzediv" input type="submit" value="Analyze" onclick="window.location.href='/views/AnalysisLoadingHTML.html'">Analyze</div>
        <!-- <button id="upload-button" class="analyzediv" onclick="uploadFile(this.form)">Analyze</button> -->
      </form>
    </div>

  





    <script>
			window.addEventListener('mouseover', initLandbot, { once: true });
			window.addEventListener('touchstart', initLandbot, { once: true });
			var myLandbot;
			function initLandbot() {
				if (!myLandbot) {
					var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
					s.addEventListener('load', function () {
						var myLandbot = new Landbot.Livechat({
							configUrl: 'https://chats.landbot.io/v3/H-1200643-M0AAYKE58KG20BN6/index.json',
						});
					});
					s.src = 'https://cdn.landbot.io/landbot-3/landbot-3.0.0.js';
					var x = document.getElementsByTagName('script')[0];
					x.parentNode.insertBefore(s, x);
				}
			}
		</script>

  </div>
</body>

</html>