<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
  <style type="text/css">
    body {
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			margin: auto;
			max-width: 38rem;
			background-color: #fffafa;
			text-align: center;
			max-width: 100%;
		}

    #gobacklink {
      font-size: 25px;
      text-decoration: none;
      color: black;
      position: absolute;
      left: 15px;
      top: 15px;
    }

    .space {
      padding: 10px;
    }

    .space2 {
      padding-bottom: 90px;
    }

    a:link,
    a:visited {
      color: black;
      text-decoration: none;
    }

    .topSpace {
      margin-top: 10%;
      margin-left: 10%;
    }

    .leftmerge {
      background-color: #c4c4c4;
      color: black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: 30%;
      margin-left: 25%;
      width: 50%;
      padding: 10px;
      margin-right: 10%;
    }

    .buttonRight {
      background-color: black;
      color: white;
      margin-left: 43%;
      margin-top: 5%;
      border: 2px solid;
      border-radius: 10px;
      border-color: black;
      padding: 10px 40px 10px 40px;
      margin-left: 40%;
      cursor: pointer;
    }


    * {
      box-sizing: border-box;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    /* Float four columns side by side */
    .column {
      float: left;
      width: 25%;
      padding: 0 5px;
    }

    .row {
      margin: 0 -5px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Responsive columns */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 10px;
      }
    }

    /* Style the counter cards */
    .card {
      box-shadow: 0 1px 2px rgba(0, 0, 0, );
      padding: 16px;
      text-align: center;
      background-color: #D3D3D3;
      color: white;
      margin-top: 50%;
      margin-left: 10%;
      margin-right: 10%;

    }

    .fonts {
      font-size: 20px;
      color: black
    }
  </style>
</head>

<body>
  <div class="sidePanel">
    <%- include('partials/sidePanel'); %>
  </div>
  <div class="mainPanel">
    <a href="javascript:history.back()" id="gobacklink"><i class='bx bx-log-out-circle' ></i>&nbsp;&nbsp;Go back</a>

    <p class="topSpace"></p>
    <div class="leftmerge">
      <p>Please bday : <input type="text" name="NewAdress" value="Enter Here"></p>
      <p class="space"></p>
      <p>Please bdays : <input type="text" name="NewAdress2" value="Enter Here"> </p>
      <a href="/ChangeScreenHTML">
        <p><button class="buttonRight">Submit</button></p>
      </a>
    </div>

  </div>
  <%- include('partials/chatbot'); %>
</body>

</html>