<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8" />
  <title>Intellignosis</title>
  <link rel="icon" href="../main-images/ciruclarcroppedlogo_1WL_icon.ico">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <style type="text/css">
    #gobacklink {
      font-size: 25px;
      text-decoration: none;
      color: black;
      position: absolute;
      left: 15px;
      top: 15px;
    }

    .space {
      padding: 10px;
    }

    .space2 {
      padding-bottom: 90px;
    }

    a:link,
    a:visited {
      color: black;
      text-decoration: none;
    }

    .topSpace {
      margin-top: 10%;
      margin-left: 10%;
    }

    .leftmerge {
      background-color: #c4c4c4;
      color: black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: 30%;
      margin-left: 25%;
      width: 50%;
      padding: 10px;
      margin-right: 10%;
    }

    .buttonRight {
      background-color: black;
      color: white;
      margin-left: 43%;
      margin-top: 5%;
      border: 2px solid;
      border-radius: 10px;
      border-color: black;
      padding: 10px 40px 10px 40px;
      margin-left: 40%;
      cursor: pointer;
    }


    * {
      box-sizing: border-box;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    /* Float four columns side by side */
    .column {
      float: left;
      width: 25%;
      padding: 0 5px;
    }

    .row {
      margin: 0 -5px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Responsive columns */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 10px;
      }
    }

    /* Style the counter cards */
    .card {
      box-shadow: 0 1px 2px rgba(0, 0, 0, );
      padding: 16px;
      text-align: center;
      background-color: #D3D3D3;
      color: white;
      margin-top: 50%;
      margin-left: 10%;
      margin-right: 10%;

    }

    .fonts {
      font-size: 20px;
      color: black
    }
  </style>
</head>

<body>
  <div class="sidePanel">
    <!-- Don't make any changes to this panel  -->
    <img src="/main-images/logocropped.png" width="80%" style="margin: 20px 0px 20px 0px;">
    <div class="spbtnpanel">
      <button type="button" class="spbtn" onclick="window.location.href='/dashboard'"><i class='bx bxs-home'></i></i>&nbsp;&nbsp;Dashboard</button><br>
      <button type="button" class="spbtn" onclick="window.location.href='/AnalyzeScreenHTML'"><i class='bx bx-glasses'></i>&nbsp;&nbsp;Analyze</button><br>
      <button type="button" class="spbtn" onclick="window.location.href='/SettingsScreenHTML'"><i class='bx bx-cog' ></i>&nbsp;&nbsp;Settings</button><br>
      <button type="button" class="spbtn" onclick="window.location.href= '/users/logout'" ><i class='bx bx-log-out' ></i></i>&nbsp;&nbsp;Logout</button>
    </div>
    <span class="AboutText">
      <p>Intellignosis® version 1.0.0<br>
        Trademark of Intellignosis<br> CAD, Sri Lanka</p>
    </span>
  </div>
  <div class="mainPanel">
    <a href="javascript:history.back()" id="gobacklink"><i class='bx bx-log-out-circle' ></i>&nbsp;&nbsp;Go back</a>

    <p class="topSpace"></p>
    <div class="leftmerge">
      <p>Please enter name to edit : <input type="text" name="Name" value="Enter Here"></p>
      <p class="space"></p>
      <p>Please re-enter the Name : <input type="text" name="Name2" value="Enter Here"> </p>
      <a href="/ChangeScreenHTML">
        <p><button class="buttonRight">Submit</button></p>
      </a>
    </div>
    <script>
      window.addEventListener('mouseover', initLandbot, { once: true });
      window.addEventListener('touchstart', initLandbot, { once: true });
      var myLandbot;
      function initLandbot() {
        if (!myLandbot) {
          var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
          s.addEventListener('load', function () {
            var myLandbot = new Landbot.Livechat({
              configUrl: 'https://chats.landbot.io/v3/H-1200643-M0AAYKE58KG20BN6/index.json',
            });
          });
          s.src = 'https://cdn.landbot.io/landbot-3/landbot-3.0.0.js';
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        }
      }
    </script>

  </div>
</body>

</html>