<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <title>Intellignosis</title>
	<link rel="icon" href="../main-images/ciruclarcroppedlogo_1WL_icon.ico">
 
  <style type="text/css">
    body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      max-width: 100%;
      max-height: 100%;
      text-align: center;
      background-color: #ffffff;
    }
    .registerDiv {
      position: absolute;
      right: 50%;
      width: 50%;
      height: 100%;

      
    }

    .loginDiv {
      position: absolute;
      left: 50%;
      width: 50%;
      height: 100%;
     
    }

    p {
      font-size: 15px;
    }

    .loginDiv p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }

    .registerDiv p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      
    }

    .registerDiv:hover {
      background-color:black;
      transition: 0.5s;
      color: white;
    }

    .loginDiv:hover {
      background-color:black;
      transition: 0.5s;
      color: white;
    }

    .loginDiv:focus {
      background-color:black;
      
      color: white;
    }


  </style>
</head>


<body>
  
  <button onclick="window.location.href='/users/register'" class="registerDiv">
    <p><b>Register</b></p>
  </button>
  <button onclick="window.location.href='/users/login'" class="loginDiv">
    <p><b>Login</b></p>
  </button>

</body>

</html>




 
        
        
        
 
