*, *::before, *::after {
    box-sizing: border-box;
}

.progressBar {
    position: relative;
    width: 600px;
    height: 3em;
    background-color: #111;
    border-radius: 1.5em;
    color: white;
}

.progressBar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: #806c6c;
    border-radius: 1em;
    padding: 1em;
}

.loadingText {
    text-align: left;
    margin-top: 50px;
}

#check1, #check2, #check3 {
    visibility: hidden;
}

