.dropdown{
    text-align: left;
    margin: 80px 20px 20px 20px;
}
.addpatient{
    background-color: #c4c4c4;
    border-style: none;
}
.addpdiv{
    text-align: left;
    margin: 20px 20px 20px 20px;
}
.topnav{
    text-align: left;
    margin: 20px 20px 20px 20px;
}