

.option{
    border:1px solid;
    margin-top:10%;
    position:absolute;
    margin-left: 10%;
    width:20%;
    
    
}
#gobacklink{
    font-size: 25px;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 15px;
    top: 15px;
}

.option2{
    border:1px solid;
    margin-top:10%;
    position:absolute;
    margin-left: 60%;
    width:20%;
    
    
}
.space{
    padding: 10px;
}
.space2{
    padding-bottom: 90px;
}
a:link, a:visited {
    color: black;
    text-decoration: none; 
}
.topSpace{
    margin-top:10%;
    margin-left:10%;
}
.leftmerge{
    text-align:left;
    margin-left: 10%;
    border:1px solid;
    padding: 10px;
    margin-right: 10%;
}
.buttonRight{
    margin-left: 80%;
}